<nav><ul>
  <li><a href="{{ '/index' | relative_url }}">Home</a></li>
  <li><a href="{{ '/feed.xml' | relative_url }}">News feed</a></li>
  <li></li>
  <li><a href="https://discord.gg/5sXXcwPCSP">Discord</a></li>
  <li><a href="https://www.patreon.com/tukkek/">Patreon</a></li>
  <li><a href="https://x.com/tuk_kek">X.com</a></li>
  <li></li>
  <li><strong>Adventurer</strong></li>
  <li><em>Coming soon!</em></li>
  <li></li>
  <li><strong>Explorer</strong></li>
  <li><em>Coming soon!</em></li>
  <li></li>
  <li><strong>Independent</strong></li>
  <li><a href="{{ 'independent/javelin' | relative_url }}">Javelin</a></li>
  <li></li>
  <li><strong>Modifications</strong></li>
  <li><a href='https://forums.crateentertainment.com/t/shatteredlite-shattered-realm-roguelite/120458'>Shatteredlite</a></li>
  <li><a href='https://github.com/tukkek/tactical-hell/'>Tactical Hell</a></li>
  <li><a href='https://steamcommunity.com/workshop/filedetails/?id=2553012355'>Torchlite 2</a></li>
</ul></nav>
