<nav>
  <details class='dropdown'>
    <summary>Navigation</summary>
    <ul>
      <li><a href="{{ '/index' | relative_url }}">Home</a></li>
      <li><a href="{{ '/feed.xml' | relative_url }}">News feed</a></li>
    </ul>
  </details>
  <details class='dropdown'>
    <summary>Adventurer</summary>
    <ul>
      <li><em>Coming soon!</em></li>
    </ul>
  </details>
  <details class='dropdown'>
    <summary>Explorer</summary>
    <ul>
      <li><em>Coming soon!</em></li>
    </ul>
  </details>
  <details class='dropdown'>
    <summary>Independent</summary>
    <ul>
      <li><em>Coming soon!</em></li>
    </ul>
  </details>
  <details class='dropdown'>
    <summary>Modifications</summary>
    <ul>
      <li><a href='https://forums.crateentertainment.com/t/shatteredlite-shattered-realm-roguelite/120458'>Shatteredlite</a></li>
      <li><a href='https://github.com/tukkek/tactical-hell/'>Tactical Hell</a></li>
      <li><a href='https://steamcommunity.com/workshop/filedetails/?id=2553012355'>Torchlite 2</a></li>
    </ul>
  </details>
</nav>
