@media(orientation:landscape){
  header{display:none;}
  body{
    display:grid;
    grid-template-columns:20vw auto;
  }
}
@media(orientation:portrait){
  aside{display:none;}
  body{grid-template-columns:0vw auto;}
}
body{width:100vw;}
header{width:100vw;}
pre{white-space:pre-wrap;}
aside{
  padding:1em;
  padding-right:0em;
}
body{text-align:justify;}
img{
  width:500px;
  height:300px;
  object-fit:contain;
  image-rendering:pixelated;
  margin:2em auto;
  display:block;
}
audio{display:none;}
